@media screen and (max-width: 600px) {
  header {
    padding: 10px;
    h1 {
      font-size: initial;
    }
    button {
      font-size: inherit;
    }
  }
  .subHeader {
    justify-content: center;
  }
  .subHeader .search {
    margin: 20px auto;
    &__input {
      min-width: auto;
    }
  }
  .countryDetails__country {
    img {
      width: 100%;
    }
    &__details {
      width: 100%;
      &__name {
        margin-top: 35px;
      }
      &__essential {
        li {
          width: 100%;
        }
      }
    }
  }
}
